---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Toggle" description="About Toggle">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.png"
					alt="Toggle at work"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>I am an explorer. I work with a team that helps create safe travel routes throughout the universe. As I go into new galaxies and systems, I mark planets, moons, comets, and other astronomical bodies with special markers. When these markers are turned on, they signal where it is safe to travel. If any dangerous black holes or supernovas move into areas people travel through, me and my team can simply turn nearby markers off so travelers are safely re-routed.</p>
					<p>I am curious by nature and love to explore new areas. I also love working with my team and hearing about all the projects we collaborate on together. I think my team has great ideas and is always think of ways to help them build without fear of failure. I want to make it easy and safe for my team to test new ideas and create new experiences for our customers.</p>
					<p>I know that sometimes accidents happen and mistakes are made, but with my toolset, I create a safe space for others to explore, experiment, and create within joyfully. Some of my most well received and popular experiences have come out of the space that I maintain for my team. It makes me happy that my team can do what they love, and our customers are delighted with the experiences we build.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>Keystone Mascots Training Camp at Millersville University</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>Development</p>
					<p>DevOps</p>
					<p>Entrepreneurship</p>
					<p>DJing</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
